---
import ContactCard from "./ContactCard.astro";
---

<div class="grid [grid-template-columns:repeat(auto-fit,minmax(300px,1fr))] mb-8 gap-10 mx-auto justify-items-center">

    <ContactCard
    name="Digit ry",
    title="Project team",
    email="digit@utu.fi",
    phone="",
    text="Business ID: 2285810-4"
    />
  <ContactCard
    name="Asteriski ry",
    title="Invoicing",
    email="hallitus@asteriski.fi",
    phone=""
    text="Business ID: 3032318-5"
    />
    <ContactCard
    name="Marius Ranta",
    title="Event Coordinator",
    email="marius.v.ranta@utu.fi",
    phone="045 208 8191"
    text=""
    />

    <ContactCard
    name="Tom Pippuri",
    title="Head of Sales",
    email="tom.a.pippuri@utu.fi",
    phone="045 652 5556"
    text=""
    />
    <ContactCard
    name="Eero Pirkkalainen",
    title="Sales Manager",
    email="e.pirkkalainen@student.maastrichtuniversity.nl",
    phone="040 196 3005"
    text=""
    />

</div>