---
import SocialsLink from "./SocialsLink.astro";

const today = new Date();
---

<footer class="py-8 px-4 pb-24 bg-var(--container) text-center">
  &copy; {today.getFullYear()} Root Expo. All rights reserved.
  <div class="social-links flex justify-center gap-4 mt-4">
    <SocialsLink />
  </div>
</footer>
