---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import SocialsLink from "./SocialsLink.astro";
---

<header class="m-0 p-0 px-4 bg-white shadow">
  <nav class="flex items-center justify-between">
    <h2 class="m-0 text-base">
      <a href="/" class="no-underline">{SITE_TITLE}</a>
    </h2>
    <div class="internal-links">
      <HeaderLink
        href="/home"
        class="p-4 pt-2 pb-2.5 text-black no-underline hover:text-gray-700 border-b-4 border-transparent hover:border-accent active:border-accent"
        >Home</HeaderLink
      >
      <HeaderLink
        href="/about"
        class="p-4 pt-2 pb-2.5 text-black no-underline hover:text-gray-700 border-b-4 border-transparent hover:border-accent active:border-accent"
        >About</HeaderLink
      >
    </div>
    <div class="hidden md:block">
      <SocialsLink />
    </div>
  </nav>
</header>
