---
interface Props {
  title: string;
  subtitle: string;
  date: string;
}

const { title, subtitle, date } = Astro.props;
---

<div
  class="w-screen h-screen bg-no-repeat bg-cover flex flex-col justify-center px-12 gap-4"
>
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute inset-0 w-full h-full object-cover -z-30">
    <source src="/hero.webm" type="video/webm" />
    Your browser does not support the video tag :(
  </video>

  <!-- Radial overlay go brrrr -->
  <div class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-[var(--background)] -z-20"></div>

  <div class="relative z-10 text-white">
    <h3 class="text-accent font-bold text-base md:text-xl lg:text-3xl">
      {date}
    </h3>
    <h1 class="font-bold">{title}</h1>
    <h5>{subtitle}</h5>
  </div>

</div>
