---
interface Props {
  title: string;
  subtitle: string;
  date: string;
}

const { title, subtitle, date } = Astro.props;
---

<div
  class="w-screen h-screen bg-no-repeat bg-cover flex flex-col justify-center px-12 gap-4"
>
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute inset-0 w-full h-full object-cover">
    <source src="/hero.webm" type="video/webm" />
    Your browser does not support the video tag :(
  </video>

  <div class="relative z-10 text-white">
    <h1 class="font-bold">{title}</h1>
    <h5>{subtitle}</h5>
  </div>
</div>
