---
import PricingCard from "./PricingCard.astro";
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 my-4 md:my-8 lg:my-12">

  <PricingCard
    name="PARTNER"
    price="499 €"
    points={[
      "Exhibition stand 2,5m x 2m",
      "Space for roll-ups",
      "Logo placement on website and marketing materials",
      "One customized social media promotion",
      "Free coffee for representatives",
    ]}
    text="Excited to promote your company even more with a keynote? Reach out!"
  />
</div>
